﻿

<form action="/home/crear" method="post">
    <div>
        <input type="text" name="Nombre" value="" />
    </div>

    <div>
        <select name="Tipo">
            <option value="Principiante">Principiante</option>
            <option value="Intermedio">Intermedio</option>
            <option value="Avanzado">Avanzado</option>
        </select>
    </div>
    <button>CREAR</button>
</form>

