﻿<h1>DETALLE RUTINA @ViewBag.Nombre.Nombre</h1>
<div class="table">

    <table class="col-12 mr-auto">
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Tiempo</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ejerc.Nombre</td>
                <td><a href="@item.ejerc.Link">@item.ejerc.Link</a></td>
                <td>@item.Tiempo</td>

            </tr>
        }
    </table>

</div>