﻿

<h1>RUTINAS</h1>
<div class="table">

    <table class="col-12 mr-auto">
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Detalle</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Tipo</td>
                <td>
                    <a href="/home/detalleRutina?idRutina=@item.Id">Detalle</a>
                </td>

            </tr>
        }
    </table>
    
</div>

