﻿<style>
body { /*background-image: url("https://i.ytimg.com/vi/0tsbVXxQLVI/maxresdefault.jpg");*/
       background-image: url("https://www.xtrafondos.com/wallpapers/dwayne-johnson-haciendo-ejercicio-2705.jpg"); 
       background-repeat: no-repeat;
       background-size: cover; 

}

</style>
<body>
    <section class="contenido1">
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="txt">
                <h1 class="display-4"></h1>
            </div>
        }
    </section>
    <a href="/home/crear" class="btn-primary">CREAR RUTINA</a>
    <a href="/home/detalle" class="btn-primary">MIS RUTINAS</a>
</body>